.additional-info-header {
  display: flex;
  justify-content: flex-start;
}

.additional-info-btn {
  width: 325px;
  text-align: center;
}

.additional-info-text p {
  margin: 0%;
  clear: both;
  background-color: #7b68ee;
}
