.additional-info-header {
  display: flex;
  justify-content: flex-start;
}

.additional-info-btn {
  width: 225px;
  height: 20px;
  font-size: 12px;
  text-align: center;
}

.additional-info-text p {
  margin: 0%;
  clear: both;
  background-color: #04006f;
}
