.small-card-wrap {
  max-width: 600px;
  margin: 0 auto;
}

.small-card {
  width: 180px;
  padding: 10px 10px 0px 10px;
  margin: 10px;
  float: left;
  background-color: rgb(50, 50, 50);
  text-align: center;
}

.small-card:hover {
  background: rgb(30, 30, 30);
}

.small-card-image {
  width: 100%;
}
