.portfolio-wrap {
  max-width: 550px;
  margin: 0 auto;
}

.portfolio-card {
  width: 230px;
  padding: 30px 30px 10px 30px;
  margin: 15px;
  float: left;
  background-color: rgb(50, 50, 50);
  text-align: center;
}

.portfolio-card:hover {
  background: rgb(30, 30, 30);
}

.portfolio-image {
  width: 100%;
}
