/*Cool and refreshing Color Palette
#25274D - Dark Blue
#464866 - Muted purple
#AAABB8 - Greyish White
#2E9CCA - Light Blue
#29648A - Greenish Blue
*/

h1 {
  text-align: center;
}

.home-page {
  text-align: center;
}

.qod-wrap {
  width: 700px;
  margin: 0% auto;
}

.qod-quote {
  margin: 0;
  font-size: 26px;
}

.qod-author {
  text-align: right;
  padding: 0;
  margin: 0;
  font-size: 20px;
}
.qod-acknowledgement {
  font-size: 10px;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 25px;
}
