/*Cool and refreshing Color Palette
#25274D - Dark Blue
#464866 - Muted purple
#AAABB8 - Greyish White
#2E9CCA - Light Blue
#29648A - Greenish Blue
*/

h1 {
  text-align: center;
}

.home-page {
  text-align: center;
}
.home-image {
  width: 150px;
}
.home-wrap {
  width: 500px;
  margin: 0 auto;
  align-items: center;
}

.home-card {
  padding: 20px;
  margin-top: 40px;
  background: rgb(50, 50, 50);
}

.home-card:hover {
  background: rgb(30, 30, 30);
}

.home-card .col1 {
  display: inline;
}
.home-card .col2 {
  width: 50%;
  height: 155px;
  float: right;
  text-align: left;
}

.home-card .col2 h2 {
  margin: 0;
  margin-top: 38px;
  font-size: 50px;
}

.rqg-wrap {
  width: 700px;
  margin: 0% auto;
  margin-top: 10px;
  margin-bottom: 50px;
}

.rqg-quote {
  margin: 0;
  font-size: 26px;
}

.rqg-author {
  padding: 0;
  margin: 0;
  text-align: right;
  font-size: 20px;
}
.rqg-info {
  float: right;
  margin-top: 0px;
  background-color: rgb(50, 50, 50);
  border: solid grey 1px;
  text-align: right;
  font-size: 10px;
}
.rqg-info:hover {
  background-color: rgb(30, 30, 30);
}
