/*Cool and refreshing Color Palette
#25274D - Dark Blue
#464866 - Muted purple
#AAABB8 - Greyish White
#2E9CCA - Light Blue
#29648A - Greenish Blue
*/

header .header-not-home {
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background: rgb(50, 50, 50);
}

.header-not-home .full-name h1 {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

header .header-home {
  justify-content: center;
  background: rgb(50, 50, 50);
}

.header-home .full-name h1 {
  margin: 0;
  padding: 20px;
  font-size: 50px;
  text-transform: uppercase;
}

.header-home a,
.header-not-home a {
  text-decoration: none;
}

.navbar a {
  display: inline-block;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
}

.header-not-home a:hover {
  background-color: rgb(30, 30, 30);
}
