/*Cool and refreshing Color Palette
#25274D - Dark Blue
#464866 - Muted purple
#AAABB8 - Greyish White
#2E9CCA - Light Blue
#29648A - Greenish Blue
*/
footer {
  margin: 0;
  background: #aaabb8;
  padding: 10px 10px;
  text-align: center;
  clear: both;
}

.contact-info a {
  padding: 10px;
  display: inline-block; /*padding only aligns horizontally, so we need to give it an inline-block attribute*/
}
