/*Cool and refreshing Color Palette
#25274D - Dark Blue
#464866 - Muted purple
#AAABB8 - Greyish White
#2E9CCA - Light Blue
#29648A - Greenish Blue
*/

/*Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/*Global
************************************************/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: white;
}

main {
  padding: 0px 0px 50px 0px;
  min-height: 80vh;
  clear: both;
  overflow: auto;
  background-color: #25274d;
  color: white;
}

/*Global Headings*/
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  clear: both;
}

/*Global Layouts */

.content-wrap {
  max-width: 60vw;
  margin: 0 auto;
}

.column1 {
  padding-top: 100px;
  width: 40%;
  float: left;
}
.column2 {
  padding-top: 100px;
  padding-left: 100px;
  width: 60%;
  float: left;
}
.center {
  text-align: center;
}

/*Links*/
a {
  margin: 0;
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

a.external-link {
  text-decoration: underline;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/*Buttons*/
button {
  background-color: rgb(35, 35, 35);
  color: white;
}

/*Gists*/
.gist {
  clear: both;
}

/* https://github.com/lonekorean/gist-syntax-themes */
@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/848d6580/stylesheets/monokai.css');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
