.challenges-table {
  display: flex;
  background-color: rgb(30, 30, 30);
  border: 2px solid white;
  text-align: center;
}

.challenges-table.header .ct-col1 {
  text-align: center;
}

.ct-col1 {
  width: 35%;
  border-right: 2px solid white;
  text-align: left;
  padding-left: 10px;
}

.ct-col2 {
  width: 18%;
  border-right: 2px solid white;
}
.ct-col3 {
  width: 9%;
  border-right: 2px solid white;
}
.ct-col4 {
  width: 13%;
  border-right: 2px solid white;
}
.ct-col5 {
  width: 13%;
  border-right: 2px solid white;
}
.ct-col6 {
  width: 12%;
  border-right: 2px solid white;
}

.gist {
  clear: both;
}

/* https://github.com/lonekorean/gist-syntax-themes */
@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/848d6580/stylesheets/monokai.css');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
